<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="strawberry" class="com.test01.MessageBeanImpl">
	</bean>
	<!-- MessageBeanImpl strawberry = new MessageBeanImpl(); 과 동일 -->
	
	<bean id = "orange" class = "com.test01.MessageBeanImpl">
		<constructor-arg>
			<value>orange</value>
		</constructor-arg>
		<constructor-arg value = "5000"></constructor-arg>
	</bean>
	
	<bean id = "banana" class = "com.test01.MessageBeanImpl">
		<!-- dd 순서 중요 (생성자) or index = "1" value = "15000" 이런식으로  index값을 주어서 순서를 정해줄 수도 있음 -->
		<constructor-arg value = "banana"></constructor-arg>
		<constructor-arg value = "15000"></constructor-arg>	
	</bean>


</beans>
