<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.multi">
	<resultMap type="com.multi.vo.MdboardVo" id="mdmap">
		<result property="seq" column="SEQ" />
		<result property="writer" column="WRITER" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="regdate" column="REGDATE" />
	</resultMap>

	<select id="selectAll" resultType="MdboardVo">
		SELECT * FROM MDBOARD
	</select>
	<select id="selectOne" parameterType="int" resultType="MdboardVo">

		SELECT * FROM MDBOARD
		WHERE SEQ = #{seq}

	</select>
	<insert id="insert" parameterType="MdboardVo" >
		
		INSERT INTO MDBOARD VALUES(MDBOARDSEQ.NEXTVAL, #{writer}, #{title}, #{content}, SYSDATE)
	
	</insert>
	<update id="update" parameterType="MdboardVo">
	
		UPDATE MDBOARD SET TITLE = #{title}, CONTENT = #{content} 
		WHERE SEQ = #{seq} 
	
	</update>
	<delete id="delete" parameterType="int">
		
		DELETE FROM MDBOARD 
		WHERE SEQ = #{seq}
	
	</delete>


</mapper>