<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.mvc.upgrade.model.vo.BoardVo"
		            alias="boardVo"/>
		<typeAlias type="com.mvc.upgrade.model.vo.MemberVo" 
					alias="memberVo"/>	
	</typeAliases>
	
	
	<!-- resource: src/main/resource와 연결 -->
	<mappers>
		<mapper resource="/mybatis/board-mapper.xml" />
		<mapper resource="/mybatis/member-mapper.xml" />
	</mappers>
</configuration>

  	
  	
  	
  	
  	
  	
  	
  	
  	